
  .container_principal {
    text-align: center;
  }

  .mat-dialog-content img {
    width: 46%;
    cursor: pointer;
  }

  .mat-dialog-actions button {
    display: block;
    width: 50%;
    margin: 10px auto;
    background-color: rgb(235, 235, 235);
    color: rgb(55, 55, 57);
  }

  .mat-dialog-title {
    color: rgb(55, 55, 57);
    border-bottom: 1px solid rgb(235, 235, 235);
    font-weight: 400;
  }

  .icon_camara {
    color: gray;
  }

  /* diseño responsive */
  @media screen and (max-width: 760px) {
    .mat-dialog-content img {
      width: 90%;
    }
  }
