
  .publicaciones section img,
  .publicaciones section video {
    width: 100%;
  }

  .loading {
    text-align: center;
    margin-top: 20px;
  }

  .publicaciones section {
    position: relative;
  }

  .efecto_hover small {
    font-family: 'Poppins', sans-serif;
  }

  .icono_like {
    font-size: 23px;
    padding-right: 5px;
  }

  .icono_like, small {
    color: rgb(218, 235, 233);
    font-weight: bold;
  }

  .efecto_hover {
    transition: all 400ms;
    opacity: 0;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 98%;
    text-align: center;
  }

  .efecto_hover:hover {
    opacity: 1;
    cursor: pointer;
  }

  /* css grid */
  .contenedor_principal {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* masonry layout  */
  .publicaciones {
    background-color: rgb(248, 248, 248);
    padding: 5px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: 70%;
    margin: 20px auto;
    columns: 3;
    columun-gap : 10px;
    box-sizing: border-box;
  }

  /* diseño responsive */
  @media screen and (max-width : 760px){

    .publicaciones {
      columns: 2;
      width: calc(100% - 5px);
      box-sizing: border-box;
    }
  }
