
  <div class="contenedor_principal">

  <!-- menu -->
  <app-header class="pegajoso"></app-header>

  <!-- icono de carga -->
  <div class="loading" *ngIf="publicaciones.length === 0">
    <i class="fas fa-circle-notch fa-3x fa-spin" [style.Color]="'rgb(77, 73, 73)'"></i>
  </div>

  <!-- publicaciones -->
  <div class="publicaciones" *ngIf="publicaciones.length > 0">

    <section *ngFor="let publicacion of publicaciones; let i = index">
        <!-- si el archivo_multimedia es una imagen -->
        <img class="animated fadeIn" *ngIf="publicacion.tipoArchivo === 'imagen'"
        [src]=" this.url + 'devolver-archivo-publicacion/' + publicacion.archivo_multimedia">


        <!-- si el archivo_multimedia es un video -->
        <video class="animated fadeIn"
        *ngIf="publicacion.tipoArchivo === 'video'" id="imagen_publicacion" controls>
          <source [src]=" url + 'devolver-archivo-publicacion/' + publicacion.archivo_multimedia " type="video/mp4">
        </video>

          <div class="efecto_hover" [routerLink]="['/publicacion', publicacion._id]" >
            <i class="fas fa-heart icono_like"></i>
            <small>{{ publicacion.me_gustas }}</small>
          </div>

    </section>

  </div>

  <!-- loading mas publicaciones  -->
  <div class="loading" *ngIf="loadingPublicaciones">
    <i class="fas fa-circle-notch fa-3x fa-spin" [style.Color]="'rgb(77, 73, 73)'"></i>
  </div>

  </div>
